.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(63, 73, 204); */
    /* background: linear-gradient(180deg, #394C64 0%, #212D3E 100%); */
    background: linear-gradient(180deg, #45ffe7 0%, rgba(255,255,255,0.1) 100%);
}

.formContainer {
    width: 400px;
    margin: 0 auto 0 auto;
    padding: 32px;
    /* background: lightblue; */
    background:#1b6298d4;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgb(63, 73, 204);
    font-size: 0.9rem;
}

h1{
    color: white;
}

.input option {
    margin-top: 20px;
}

.btn-homepage-style {
    width: 100%;
}

.chatContainer {
    max-width: 100%;
    padding: 10px;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

/* Room and users component */
.roomAndUsersColumn {
    border-right: 1px solid rgb(0, 24, 111);
}

.roomTitle {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
}

.usersTitle {
    font-size: 1.2rem;
    color: #fff;
}

.usersList {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 60px;
    color: rgb(153, 217, 234);
}

.usersList li {
    margin-bottom: 12px;
}

/* Messages */
.messagesColumn {
    height: 85vh;
    overflow: auto;
    padding: 10px 10px 10px 40px;
}

.message {
    background: rgb(0, 24, 111);
    border-radius: 6px;
    margin-bottom: 24px;
    max-width: 600px;
    padding: 12px;
}

.msgMeta {
    color: rgb(153, 217, 234);
    font-size: 0.75rem;
}

.msgText {
    color: #fff;
}

/* Message input and button */
.sendMessageContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px 20px 16px;
}

.messageInput {
    padding: 14px 14px;
    margin-right: 8px;
    width: 80%;
    border-radius: 6px;
    border: 1px solid rgb(153, 217, 234);
    font-size: 0.9rem;
}
